@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-md-4 mx-4">
            <a href="/Usuario/create" class="btn btn-primary">Registararse</a>
        </div>
        <div class="col-md-4 mx-4">
            <a href="/usuario/login" class="btn btn-primary">Iniciar Sesion</a>
        </div>
    </div>
</div>
